@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Typewriter effect */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures text stays within the container */
  border-right: 0.15em solid black; /* Creates the caret */
  white-space: nowrap; /* Ensures the text doesn't wrap */
  margin: 0 auto; /* Centers the text */
  letter-spacing: 0.15em; /* Optional: increases space between characters */
  animation: typewriter 3.5s steps(30, end),
    /* Typewriter speed */ blink-caret 0.75s step-end infinite; /* Caret blinking effect */
}
